<body ng-app="ionicApp">
<ion-footer-bar class="bar-dark">
        <a href="#/places" class="button button-icon ion-navicon"></a>
        <a href="#/info" class="button button-icon ion-plus"></a>
        <a href="#/profile" class="button button-icon ion-ios-search-strong"></a>
</ion-footer-bar>
<ion-view>
    <ion-content ng-controller="mapsCtrl">
        <div style="width:100%; height:20px; background-color:#2f3d4c;"></div>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
</body>