
<ion-content style="background-color: #000;" scroll="false" padding="false">
  <ion-slides  options="options" slider="data.slider">
    <ion-slide-page id="cover">
      <div class="box yellow">
        </div>
    </ion-slide-page>
      <ion-slide-page style="background-color:#ffc03f;">
      <div>
       <i id="slideIcon" class="icon ion-ios-search-strong"></i>
          <p id="slideTitle">explore</p>
          <p id="slideText">Use Ripple to discover photos, and other surf information uploaded by you and friends</p>
        </div>
        <a href="#/main">
        <div id="slideFooter">
        <p id="slideFootext">CLOSE</p>
        </div>
        </a>
    </ion-slide-page>
    <ion-slide-page style="background-color:#69D9EA;">
      <div>
          <i id="slideIcon" class="icon ion-ios-crop-strong" ></i>
          <p id="slideTitle">capture</p>
          <p id="slideText">Go surf! Use the <i class="icon ion-plus"></i> icon to capture the conditions on the day and upload them for friends to see</p>
        </div>
        <a href="#/main">
        <div id="slideFooter">
        <p id="slideFootext">CLOSE</p>
        </div>
        </a>
    </ion-slide-page>
    <ion-slide-page style="background-color:#2f3d4c;">
      <div>
          <i id="slideIcon" class="icon ion-map"></i>
          <p id="slideTitle">share</p>
          <p id="slideText">Share and document your surfing experiences by navigating the interactive map</p>
        </div>
        <a href="#/main">
        <div id="slideFooter" >
        <p id="slideFootext">FINISH</p>
        </div>
        </a>
    </ion-slide-page>
  </ion-slides>
</ion-content>